{% extends '::base.html.twig' %}

{% block body %}
	{{ parent() }}
	
	<div id="search">
				<form method="post" action="/">
					<input type="text" name="search-box" id="search-box" />
					<input type="submit" id="submit" value="" />
					<div id="search-results">
						<ul>
						</ul>
					</div>
					
				</form>
	</div>
 {% endblock %}

